<!DOCTYPE html>
<html lang="{{ app.request.locale }}">
    <head>
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
        <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1.0"/>
        <title>BeAdopt</title>

        <!-- CSS  -->
        {% stylesheets '@BeAdoptCoreBundle/Resources/public/css/*' filter='cssrewrite' output='css/compiled/main.css' %}
        <link rel="stylesheet" href="{{ asset_url }}" />
        {% endstylesheets %}
        <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
        <link href="../../dist/css/materialize.min.css" type="text/css" rel="stylesheet" media="screen,projection"/>
        <link href="css/style.css" type="text/css" rel="stylesheet" media="screen,projection"/>
    </head>
    <body>

        <div class="navbar-fixed">
            <nav class="teal lighten-2" role="navigation">
                <div class="nav-wrapper container"><a id="logo-container" href="#" class="brand-logo">Logo</a>
                    <ul class="right hide-on-med-and-down">
                        <li><a href="#">About Us</a></li>
                        <li><a href="#">Overview</a></li>
                        <li><a href="#">Pricing</a></li>
                        <li><a href="#">Contact Us</a></li>
                    </ul>

                    <ul id="nav-mobile" class="side-nav">
                        <li><a href="#">Navbar Link</a></li>
                    </ul>
                    <a href="#" data-activates="nav-mobile" class="button-collapse"><i class="material-icons">menu</i></a>
                </div>
            </nav>
        </div>

        <div class="section no-pad-bot" id="index-banner">
            <div class="container">
                <h1 class="header center teal-text">{% block title %}{%endblock %}</h1>
            
                {% block body %}{% endblock %}
            </div>
        </div>

        <!--<div class="section no-pad-bot" id="index-banner">
            <div class="container">
                <br><br>
                <h1 class="header center orange-text">{# 'Be Adopt'|trans #}</h1>
                <div class="row center">
                    <h5 class="header col s12 light">{# 'Be Adopt Description'|trans #}</h5>
                </div>
                <div class="row center">
                    <a href="http://materializecss.com/getting-started.html" id="download-button" class="btn-large waves-effect waves-light orange">Get Started</a>
                </div>
                <br><br>

            </div>
        </div>-->

        {% block footer %}{% endblock %}


    <!--  Scripts-->
    <script src="https://code.jquery.com/jquery-2.1.1.min.js"></script>
    <script src="../../bin/materialize.js"></script>
    <script src="js/init.js"></script>

</body>
</html>